{{! Sheet Header }}
<header class="actor-sheet-header">
    {{> "systems/edrpg/templates/partials/character-header.html"}}
</header>
{{! Sheet Tab Navigation }}
{{! Sheet Body }}
<h1>Hello World!</h1>
<p>

    <button type="button" class="testbutton">BLABLABLA</button>
    Dodge = {{system.skills.personalCombat.dodge.score}}
    <input type="number" class="testInput" value="{{system.skills.personalCombat.dodge.score}}">
    <input type="number" class="skill" name="system.skills.personalCombat.dodge.score">
</p>

